body {
  background: linear-gradient(
    -45deg,
    rgb(255, 254, 205) 5.5%,
    rgb(31, 172, 214) 90.2%
  );

  max-width: 800px;
  min-width: 600px;

  margin: 0 auto;
}

li {
  list-style: none;
}

.container {
  margin: 35px auto;
  padding: 5%;

  max-width: 660px;

  display: block;
  border-radius: 30px;
  color: white;
  background: rgba(0, 0, 0, 0.15);
  font-family: "Roboto Condensed", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.search-form {
  width: 90%;
  margin: 0px auto;
}

.button {
  width: 90%;
  margin: 0px auto;
}

.Location-button {
  display: block;
  margin: 30px 0px;
  font-size: 18px;

  border-radius: 30px;
  padding: 10px 20px;
  border: none;
  color: white;
  background-color: rgba(67, 151, 151, 0.726);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 10px 0;
}

.Location-button:hover {
  color: #3f3f3f;
  background-color: rgb(255, 254, 205);
  cursor: pointer;

  transition: all 200ms ease-in-out;
}

.card-1 {
  margin: 15px auto;
  width: 90%;
}

.card-2 {
  margin: 15px auto;
  width: 90%;
  padding: 0px 10px;
}

.city {
  text-align: left;
  font-weight: bold;
  font-size: 36px;
  margin-left: 30px;
  text-transform: uppercase;
}

.current-day {
  text-align: left;
  margin-left: 0px;
  font-size: 18px;
}

.current-temperature {
  font-size: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 30px;
  font-weight: bold;
}

.current {
  text-align: right;
  font-size: 36px;
  margin-right: 30px;
}

.current-weather {
  text-align: right;
}

.current-weather-desc {
  font-size: 36px;
  font-weight: bold;

  text-align: right;
  text-transform: uppercase;
  margin-right: 30px;
}

.weather-forecast-day {
  font-size: 18px;
}

.weather-forecast {
  font-size: 20px;
}

.weather-forecast-temp {
  font-size: 18px;
}

.weather-forecast-max {
  font-weight: bold;
}

.weather-forecast-min {
  opacity: 0.6;
}

.conditions {
  line-height: 2;
  font-size: 24px;
  text-align: left;
}

.conditions-fa {
  line-height: 1.5;
  font-size: 22px;
  margin-right: 5px;
}

.real-feel {
  font-size: 16px;
  color: white;
}

.credits {
  text-align: center;
  margin: 30px auto;
  color: #244b55;
}

.credits-ref {
  color: rgb(255, 254, 205);
}
